@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap');
.margem{
    display: flex;
    margin: auto;
    width: 1000px;
    place-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.gatinho{
    padding: 10%;
    display: grid;
    justify-items: center;
    margin: 0%; 
    font-size: 25px;
    color: #06142E;
}
.container{
    
    display: grid;
    justify-items: center;
    width: 672px;
    height: 456px;
    border-radius: 20px;
    background-color: #F5D7DB;
    
}

.botões{
    border-radius: 20px;
    display: grid;
    width: 300px;
    height: 60px;  
}


.subtotal{
    display: flex;
    justify-content: center;
}
.sub{ 
    font-size: 25px;
    color: #06142E;
}
.dindin{
    color: #06142E;
    font-size: 30px;
    font-weight: bolder;
}





