#blocoConfirmeFrete{
    display: grid;
    margin-left: 320px;
    margin-top: 82px;
    width: 630px;
    height: 824px;
    background: #F5D7DB;
    border-radius: 10px;
}

#nomeFrete{
    display: flex;
    font-size: 40px;
    font-family: black;
    margin-left: 42px;
    margin-top: 58px;
    width: max-content;
    height: max-content;
}

#textFrete{
  font-size: 20px;
  font-family: black;
  margin-left: 42px;
  margin-top: -250px;
}

#conjunto-nomes{
    display: flex;
    font-size: 20px;
    font-family: black;
    margin-top: -400px;
}

#estimativa{
    margin-left: 65px;
}

#valor67{
    margin-left: 132px;
}


#resumoPedido2{
    display: flex;
    margin-left: 1025px;
    margin-top: -830px;
    font-size: 32px;
    font-family: black;
    width: max-content;
}