@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@700&display=swap');

.petContainer{
  font-family: "Inter";
  overflow-x: hidden;
  margin: 0 15rem;
}

.titulo{
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  
}
.titulo h1{
  margin: 0;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.titulo h4{
  margin: 0 ;
  grid-area: 2;
  align-self: center;
  font-weight: 700;
  font-size: 1.2rem;

}
.titulo img{
  width: 3rem;
  place-self: end;
  grid-row: 2;
}

.btnAnimais{
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

.btnAnimais a{
  background-color: #E9C2C5;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #06142E;
  padding: 1rem 2rem;
  border-radius: 15px;
  margin-bottom: 3rem;
}